<?xml version="1.0" encoding="utf-8"?>
<connectionStrings configBuilders="SitecoreConnectionStringsBuilder">
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=$(env:DATABASE_DATASOURCE);Initial Catalog=$(env:DATABASE_PREFIX)_Core;User ID=$(env:DATABASE_CORE_USERNAME);Password=$(env:DATABASE_CORE_PASSWORD)" />
  <add name="security" connectionString="Data Source=$(env:DATABASE_DATASOURCE);Initial Catalog=$(env:DATABASE_PREFIX)_Core;User ID=$(env:DATABASE_SECURITY_USERNAME);Password=$(env:DATABASE_SECURITY_PASSWORD)" />
  <add name="master" connectionString="Data Source=$(env:DATABASE_DATASOURCE);Initial Catalog=$(env:DATABASE_PREFIX)_Master;User ID=$(env:DATABASE_MASTER_USERNAME);Password=$(env:DATABASE_MASTER_PASSWORD)" />
  <add name="web" connectionString="Data Source=$(env:DATABASE_DATASOURCE);Initial Catalog=$(env:DATABASE_PREFIX)_Web;User ID=$(env:DATABASE_WEB_USERNAME);Password=$(env:DATABASE_WEB_PASSWORD)" />
  <add name="reporting.apikey" connectionString="$(env:REPORTING_APIKEY)" />
  <add name="messaging" connectionString="Data Source=$(env:DATABASE_DATASOURCE);Initial Catalog=$(env:DATABASE_PREFIX)_Messaging;User ID=$(env:DATABASE_MESSAGING_USERNAME);Password=$(env:DATABASE_MESSAGING_PASSWORD)" />
  <add name="xdb.referencedata" connectionString="Data Source=$(env:DATABASE_DATASOURCE);Initial Catalog=$(env:DATABASE_PREFIX)_ReferenceData;User ID=$(env:DATABASE_REFERENCEDATA_USERNAME);Password=$(env:DATABASE_REFERENCEDATA_PASSWORD)" />
  <add name="experienceforms" connectionString="Data Source=$(env:DATABASE_DATASOURCE);Initial Catalog=$(env:DATABASE_PREFIX)_ExperienceForms;User ID=$(env:DATABASE_EXPERIENCEFORMS_USERNAME);Password=$(env:DATABASE_EXPERIENCEFORMS_PASSWORD)" />
  <add name="exm.master" connectionString="Data Source=$(env:DATABASE_DATASOURCE);Initial Catalog=$(env:DATABASE_PREFIX)_EXM.Master;User ID=$(env:DATABASE_EXMMASTER_USERNAME);Password=$(env:DATABASE_EXMMASTER_PASSWORD)" />
  <add name="sitecore.reporting.client" connectionString="$(env:XCCR_URL)" />
  <add name="sitecore.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=$(env:REPORTING_CERTIFICATE)" />
  <add name="solr.search" connectionString="$(env:SEARCH_URL)" />
  <add name="sitecoreidentity.secret" connectionString="$(env:IDENTITY_SECRET)" />
  <add name="xconnect.collection" connectionString="$(env:XCC_URL)" />
  <add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=$(env:XCONNECT_COLLECTION_CERTIFICATE)" />
  <add name="xdb.marketingautomation.operations.client" connectionString="$(env:XCMA_URL)" />
  <add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=$(env:MARKETING_OPERATIONS_CERTIFICATE)" />
  <add name="xdb.marketingautomation.reporting.client" connectionString="$(env:XCMAR_URL)" />
  <add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=$(env:MARKETING_REPORTING_CERTIFICATE)" />
  <add name="xdb.referencedata.client" connectionString="$(env:XCRD_URL)" />
  <add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=$(env:REFERENCEDATA_CLIENT_CERTIFICATE)" />
  <add name="EXM.CryptographicKey" connectionString="$(env:EXM_CRYPTOGRAPHIC_KEY)" />
  <add name="EXM.AuthenticationKey" connectionString="$(env:EXM_AUTHENTICATION_KEY)" />
  <add name="PackageManagementServiceUrl" connectionString="https://updatecenter.cloud.sitecore.net/" />
  <add name="xconnect.search" connectionString="$(env:XCCS_URL)" />
    <add name="xconnect.search.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=$(env:SEARCH_CERTIFCATE)" />
</connectionStrings>